name: Reproduce issue

on:
  workflow_dispatch:

jobs:
  default:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v5
        with:
          node-version-file: .node-version
      - name: Install dependencies
        run: |
          npm install --ignore-scripts --global @salesforce/cli
      - name: Reproduce issue in Scratch Org without Sample Data
        env:
          SFDX_AUTH_URL_DEVHUB: ${{ secrets.SFDX_AUTH_URL_DEVHUB }}
        run: |
          echo "${SFDX_AUTH_URL_DEVHUB}" | sf org login sfdx-url --set-default-dev-hub --sfdx-url-stdin
          sf org create scratch -f config/project-scratch-def.json --set-default
          sf project deploy start
          if sf apex run test --test-level RunLocalTests --wait 10; then false; else true; fi
      - name: Delete scratch org
        if: always()
        run: |
          sf org delete scratch --no-prompt
  has-sample-data:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v5
        with:
          node-version-file: .node-version
      - name: Install dependencies
        run: |
          npm install --ignore-scripts --global @salesforce/cli
      - name: Cannot reproduce issue in Scratch Org with Sample Data
        env:
          SFDX_AUTH_URL_DEVHUB: ${{ secrets.SFDX_AUTH_URL_DEVHUB }}
        run: |
          echo "${SFDX_AUTH_URL_DEVHUB}" | sf org login sfdx-url --set-default-dev-hub --sfdx-url-stdin
          sf org create scratch -f config/has-sample-data.json --set-default
          sf project deploy start
          sf apex run test --test-level RunLocalTests --wait 10
      - name: Delete scratch org
        if: always()
        run: |
          sf org delete scratch --no-prompt
